{% extends "index.html" %}

{% block titulo %} Poblacion de una ciudad {% endblock %}


{% block contenido_principal %}

<div itemscope itemtype="http://schema.org/City">
  <h3 itemprop="branchCode">{{ciudad}}</h3>
</div>
<table class="table">
  <tr>
    <th>Año</th>
    <th>Población</th>
  </tr>
  <tr>
    <td itemscope itemtype="http://schema.org/population">
      <ul class="list-group list-group-flush">
        {% for year in years %}
        <li class="list-group-item list-group-item-secondary">
          {{ year }}
        </li>
        {% endfor %}
      </ul>
    </td>
    <td itemscope itemtype="http://schema.org/Date">
      <ul class="list-group list-group-flush">
        {% for poblacion in poblaciones %}
        <li class="list-group-item">
          {{ poblacion }}
        </li>
        {% endfor %}
      </ul>
    </td>
  </tr>

</table>

{% endblock %}